/****************************************************************
*****************************************************************
***                                                           ***
***                          NAV MENU                         ***
***                         RESPONSIVE                        ***
***                          --------                         ***
***                                                           ***
*****************************************************************
****************************************************************/
html {
   scroll-behavior: smooth;
   margin: 0;
   padding: 0;
   box-sizing: content-box;
}

:root {
    --main_color: #FFA900;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    background: #1B1B1B ;
}

#nav_menu {
    display: none;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, .9);
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
    animation: nav_menu_anim .5s forwards;
    top: -80px;
/*    border-bottom: solid 3px var(--main_color);*/
}

@keyframes nav_menu_anim {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(80px);
    }
}

.brand_title {
    font-size: 1.5em;
    margin: 0.5em;
}

.nav_ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_li {
    list-style: none;
}

.nav_menu_a {
    text-decoration: none;
    color: #fff;
    padding: 1em;
    display: block;
    cursor: pointer;
}

.nav_menu_a:hover {
    background: rgba(255, 255, 255, 0.3);
}
.responsive_menu {
    position: absolute;
    top: 0.75em;
    right: 1em;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
    cursor: pointer;
}

.responsive_menu .bar {
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .responsive_menu {
        display: flex;
    }
    .nav_links {
        display: none;
        width: 100%;
    }

    .nav_menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav_menu_a {
       width: 100%;
    }

    .nav_links .nav_ul {
        width: 100%;
        flex-direction: column;
    }

    .nav_links .nav_li {
       text-align: center;
    }

    .nav_menu_a {
       padding: 0.75em 1em;
    }

    .nav_links.active {
        display: flex;
        margin-top: 50px;
    }

    .brand_title {
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 1);
        width: 100%;
        padding: 0.5em;
        margin: 0;
    }

}


/*


title efect


*/
.title_area {
    position: relative;
    top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.title_span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3em;
    color: #F5F5F5;
    text-shadow: 1px 1px 1px #919191,
                 1px 2px 1px #919191,
                 1px 3px 1px #919191,
                 1px 4px 1px #919191,
                 1px 18px 6px rgba(16, 16, 16, .4),
                 1px 22px 10px rgba(16, 16, 16, .2);

}

@media (min-width: 768px) {
    .title_span {
        font-size: 4em;
        text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 18px 6px rgba(16, 16, 16, .4),
        1px 22px 10px rgba(16, 16, 16, .2),
        1px 25px 35px rgba(16, 16, 16, .2),
        1px 30px 60px rgba(16, 16, 16, .4);
    }
}

@media (min-width: 960px) {
    .title_span {
        font-size: 5em;
        text-shadow: 1px 1px 1px #919191,
                1px 2px 1px #919191,
                1px 3px 1px #919191,
                1px 4px 1px #919191,
                1px 5px 1px #919191,
                1px 6px 1px #919191,
                1px 7px 1px #919191,
                1px 8px 1px #919191,
                1px 9px 1px #919191,
                1px 10px 1px #919191,
                1px 18px 6px rgba(16, 16, 16, .4),
                1px 22px 10px rgba(16, 16, 16, .2),
                1px 25px 35px rgba(16, 16, 16, .2),
                1px 30px 60px rgba(16, 16, 16, .4);
    }
}

@media (min-width: 1254px) {
    .title_span {
        font-size: 6em;
    }
}

/****************************************************************
*****************************************************************
***                                                           ***
***                          START PAGE                       ***
***                           ANIMATE                         ***
***                          Section1                         ***
***                                                           ***
*****************************************************************
****************************************************************/
#section1 {
    background: #1B1B1B;
    display: grid;
    width: 100%;
    overflow: hidden;
    height: 100vh;

}

#section1 img{
    z-index: 1;
}

.section_1_about {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 999;
}

@keyframes rotate_border {
  0% {
     transform: rotate(30deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.hello_p {
    font-size: 4em;
    color: #FFFFFF;
    letter-spacing: 20px;
    margin: 0;
    animation: drop_txt 1s forwards; 
}

@keyframes drop_txt {
    0% {
        transform: translateY(-1000px);
    }
    33% {
        transform: translateY(0);
    }
    66% {
        transform: translateY(-150px);
    }
    100% {
        transform: translateY(0);
    }
}

.name_p, .profession_p {
    font-size: 2em;
    color: #FFFFFF;
    letter-spacing: 5.1px;
    margin: 1px 0;
    padding: .5px;
}

.profession_p {
    transform: translateY(-50px);
    animation: wrapper_txt_top 1.2s forwards;
} 

.wrapper_top{
    width: calc(37ch);
    overflow: hidden;
}

@keyframes wrapper_txt_top {
    0% {
        transform: translateY(-50px);
    }
    50% {
       transform: translateY(-50px);
    }
    100% {
       transform: translateY(0px);
    }
}

.wrapper_name {
    background: var(--main_color);
    width: 0;
    animation: wrapper_section_1 1s forwards;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes wrapper_section_1 {
    0% {
        width: 0;
    }
    100% {
        width: calc(37ch);
    }
}

.border_about {
    width: 100%;
    height: 10em;
    margin: -9.5em 0 0 -10px;
    opacity: 0;
    border-right: solid 5px var(--main_color);
    border-left: solid 5px var(--main_color);
    animation: border_rotate 1s forwards;
    animation-delay: .5s;
}

@keyframes border_rotate {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotate(540deg);
    }
}


/************************/
/*                      */
/*                      */
/* Background animation */
/*                      */
/*                      */
/************************/
.box-area {
    position: relative;
    top: 0;
    left: 0;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, .2);
    animation: background_anim 20s linear infinite;
    bottom: calc(-100vh - 150px);
}

.box-area li:nth-child(1) {
    left: 10%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
    animation-duration: 15s;
}

.box-area li:nth-child(2) {
    left: 20%;
    width: 30px;
    height: 30px;
    animation-duration: 10s;
}

.box-area li:nth-child(3) {
    left: 30%;
    width: 40px;
    height: 40px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(4) {
    left: 45%;
    width: 150px;
    height: 150px;
    animation-delay: 5s;
}

.box-area li:nth-child(5) {
    left: 55%;
    width: 50px;
    height: 50px;
    animation-delay: 2.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(6) {
    left: 85%;
    width: 110px;
    height: 110px;
}

.box-area li:nth-child(7) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 2.5s;
}

.box-area li:nth-child(8) {
    left: 80%;
    width: 60px;
    height: 60px;
    animation-delay: 3s;
    animation-duration: 15s;
}

.box-area li:nth-child(9) {
    left: 60%;
    width: 40px;
    height: 40px;
    animation-delay: 6s;
    animation-duration: 10s;
}

.box-area li:nth-child(10) {
    left: 35%;
    width: 70px;
    height: 70px;
    animation-delay: 6s;
    animation-duration: 15s;
}

@keyframes background_anim {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh) rotate(360deg);
        opacity: 0;
    }
}
/****************************************************************
*****************************************************************
***                                                           ***
***                            ABOUT                          ***
***                          BUSINESS                         ***
***                          Section2                         ***
***                                                           ***
*****************************************************************
****************************************************************/
#section2{
    height: 100%;
}

.content_s2 {
    width: 100%;
    margin: 50px 0;
}

.txt_area_hexa {
    margin: -100px 1em 0 1em;
}

.about_section_title {
    font-size: 3em;
    max-width: 600px;
    margin: 0 auto;
}

.about_section_txt {
    font-size: 1.5em;
    max-width: 600px;
    margin: 0 auto;
}

.img_bg_intro {
    background-image: url("../img/img1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
    animation: out_rotate_anim_img 1s;
}

.hexagon_space {
    height: 530px;
    top: 5px;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.hexa_txt {
    position: absolute;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hexa_txt:nth-child(1) {
    transform: translate(-105px, -205px) rotate(330deg);
}

.hexa_txt:nth-child(2) {
    transform: translate(15px, -205px) rotate(30deg);
    color: var(--main_color);
}

.hexa_txt:nth-child(3) {
    transform: translate(135px, -60px) rotate(90deg);
}

.hexa_txt:nth-child(4) {
    transform: translate(50px, 75px) rotate(150deg);
    color: var(--main_color);
}

.hexa_txt:nth-child(5) {
    transform: translate(-115px, 75px) rotate(210deg);
}

.hexa_txt:nth-child(6) {
    transform: translate(-210px, -60px) rotate(270deg);
    color: var(--main_color);
}

.hexagon {
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 340px;
    background-color: #FFFFFF;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    animation: out_rotate_anim 1s;
}

.hexagon:hover {
    animation: rotate_anim 1s;
}

.hexagon:hover .img_bg_intro{
    background-image: url("../img/img2.png");
    animation: opacity_rot 1s;
}

@keyframes rotate_anim {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}


@keyframes out_rotate_anim {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) rotate(-360deg);
    }
}

@keyframes out_rotate_anim_img {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacity_rot {
    0% {
        opacity: .0;
    }

    50% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}


@media (min-width: 768px) {
    .hexa_txt:nth-child(1) {
        transform: translate(-130px, -195px) rotate(330deg);
    }
    
    .hexa_txt:nth-child(2) {
        transform: translate(30px, -200px) rotate(30deg);
        color: var(--main_color);
    }
    
    .hexa_txt:nth-child(3) {
        transform: translate(180px, -10px) rotate(90deg);
    }
    
    .hexa_txt:nth-child(4) {
        transform: translate(70px, 160px) rotate(150deg);
        color: var(--main_color);
    }
    
    .hexa_txt:nth-child(5) {
        transform: translate(-130px, 160px) rotate(210deg);
    }
    
    .hexa_txt:nth-child(6) {
        transform: translate(-255px, -20px) rotate(270deg);
        color: var(--main_color);
    }
    
    .hexagon {
        width: 380px;
        height: 430px;
    } 

    .txt_area_hexa {
        margin: 0 3em;
    }
}

@media (min-width: 960px) {
   
    .content_s2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 1em 0 -1em;
    }
    .txt_area_hexa {
        height: 100%;
        width: 45%;
        margin: 40px 0 0 1em;
    }
    .about_section_title {
        font-size: 3em;
    }
    
    .about_section_txt {
        font-size: 1.5em;
    }
    
    .hexa_txt {
        position: absolute;
        font-size: 2em;
        top: 50%;
    }
    
    .hexagon_space {
        height: 530px;
        width: 420px;
        position: relative;
        padding: 0 3em;
    }

    .hexagon {
        position: relative;
        top: 50px;
        transform: translateX(-50%);
        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        animation: out_rotate_anim 1s;
    }
}

/****************************************************************
*****************************************************************
***                                                           ***
***                           DESIGN                          ***
***                        PROJ SECTION                       ***
***                          Section3                         ***
***                                                           ***
*****************************************************************
****************************************************************/
#section3 {
    margin: 50px 0;
}

.grid {
    justify-content: center;
    display: grid;
    grid-gap: 1em;
    padding: 1em;
}

.col {
    max-width: 600px;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .5);
}

.img_proj {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
    border-radius: 6px;
}

h3 {
    position: absolute;
    z-index: 300;
}

.glass_bg {
    width: 0%;
    height: 100%;
    transition: width .7s;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    position: absolute;
    border-radius: 6px;
    z-index: 200;
}

.col:hover .glass_bg {
    width: 100%;
    transform: width (100%);
}

.grid_data {
    position: absolute;
    z-index: 341;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 6px;
    color: #FFFFFF;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: .5 0;
    text-shadow: 0 3px 10px rgba(0, 0, 0, .5);
}


.grid_data_wrapper{
    width: 100%;
    height: 1.7em;
    background: rgba(27,27,27, 1);
    position: absolute;
    z-index: 343;
    transform: rotate(-45deg);
    margin: 8% 0 0 -38%;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .5);
}

/* TEST */
/* TEST */
/* TEST */
 

.grid_title_wrapper {
    position: absolute;
    z-index: 333;
    height: 60px;
    width: 0%;
    margin: 0;
    bottom: 0;
    background: rgba(27,27,27, 1);
    border-radius: 0 0 6px 6px;
    /*border-bottom: solid 2px var(--main_color);
    border-right: solid 2px var(--main_color);*/
    transition: width .7s;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .7);

    justify-content: space-between;
    align-items: center;
    display: flex;
    
}


.col:hover .grid_title_wrapper {
    width: 100%;
    transform: width 100%;
}

.grid_title {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.5em;
    color: #FFF;
    margin: 0 1em 0 0;
    left: 1em;
}

.view_proj {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    color: #FFF;
    border: solid 2px #FFF;
    border-radius: 0 15px 0 15px;
    right: 1em;
    font-size: 1em;
    margin: 0;
    padding: .25em .5em;  
}

.view_proj:hover {
   box-shadow: 0 3px 15px rgba(0, 0, 0, .5);
}

/******************/
/*                */
/*                */
/* wrapper effect */
/*                */
/*                */
/******************/

@keyframes hidden_title {
    0% {
       opacity: 0;
    }
    50% {
       opacity: 0;
    }
    51% {
       opacity: 1;
    }
    100% {
        opacity: 1;
    }
}


@media (min-width: 768px) {
    .grid {
        padding: 1em;
    }
}

@media (min-width: 960px) {
    .grid {
        padding: 1em;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1254px) {
    .grid {
        grid-template-columns: 600px 600px;
    }

    .container {
        width: 1216px;
        margin: 0 auto;
    }
}

.col {
    max-width: 600px;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .5);
}
/****************************************************************
*****************************************************************
***                                                           ***
***                            POPUP                          ***
***                        CONTACT PAGE                       ***
***                          --------                         ***
***                                                           ***
*****************************************************************
****************************************************************/
.contact_btn {
    position: fixed;
    z-index: 999;
    bottom: 1em;
    right: 1em;
    cursor: pointer;
}

.contact_svg {
    fill: var(--main_color);
    background: rgba(0, 0, 0, .0);
}

.popup {
    position: fixed;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    top: 0;
    display: none; 
    z-index: 9999;
}

.popup_content {
    position: relative;
    background: #FFF;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    border-radius: 10px;
}

.close_form {
    position: absolute;
    top: .5em;
    right: .5em;
    width: 2em;
    height: 2em;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.close_x {
    position: absolute;
    width: 2em;
    height: 5px;
    background: #1B1B1B;
    border-radius: 3px;
    top: 17.5px;
}

.close_x:nth-child(1) {
    transform: rotate(45deg);
}
.close_x:nth-child(2) {
    transform: rotate(135deg);
}

.close_form:hover, .close_x{
    transform: scale(1.2);
}

.popup_contact {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: .5em;
    text-align: center;
    color: #1B1B1B;
}

.popup_txt {
    margin: 50px 0;
    text-align: center;
}

.popup_h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    word-spacing: 1px;
    margin: 0;
    color: #1B1B1B;
}

.popup_input_place {
    height: 40px;
    width: 90%;
    margin: 5px auto;
    display: block;

}

.popup_textarea {
    resize: none;
    width: 90%;
    margin: 5px auto;
    display: block;
}

.popup_button {
    position: relative;
    font-size: 1.5em;
    text-decoration: none;
    color: #1B1B1B;
    display: inline-block;
    margin: 50px auto;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 768px){    
    .popup_content {
        width: 650px;
        height: 600px;
    }

    .popup_h1 {
        font-size: 2.5em;
    }

    .popup_input_place{
        width: 400px;
    }

    .popup_textarea {
        width: 400px;
    }
}




/****************************************************************
*****************************************************************
***                                                           ***
***                           FOOTER                          ***
***                          _SECTION                         ***
***                          --------                         ***
***                                                           ***
*****************************************************************
****************************************************************/

footer {
    width: 100%;
    background: #1B1B1B;
    padding: 50px 0 5px 0;
}
/*
#section_footer {

}
*/

.hr_h {
    background: #EDEEED;
    width: calc(100% - 6em);
    height: 1px;
    margin: 0 3em 25px 3em;
}

.social_media_link {
    display: flex;
    justify-content: center; 
}

svg {
    fill: #1B1B1B;
    background: #FFFFFF;
    margin: 0 15px;
    border-radius: 15%;
}

.svg_corection {
    position: relative;
    z-index: 10;
    height: 27px;
    width: 27px;
    border: solid 4px #1B1B1B;
    margin: -2px -47px 0 0;
    border-radius: 20%;
}

.cr_sec_pp {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 20px 0;
}

@media (min-width: 768px) {
    .cr_sec_pp {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%)
    }

    .cr_sec_pp a {
        margin-right: 20px;
    }
}
.cr_sec_pp a {
    font-size: 1em;
    margin-top: 10px;
    text-decoration: none;
    color: #FFFFFF;

    width: 20ch;
    transform: translateX(calc(50vw - 10ch));
}
   